<div class="container mt-5">

    <h1>Sistema de Ventas</h1>

    <div class="row mt-4">

        <div class="col-md-3">
            <a href="/gestioncategoria/lista"
               class="btn btn-primary w-100">
                Categorías
            </a>
        </div>

        <div class="col-md-3">
            <a href="/gestionproducto/lista"
               class="btn btn-success w-100">
                Productos
            </a>
        </div>

        <div class="col-md-3">
            <a href="/gestioncliente/lista"
               class="btn btn-warning w-100">
                Clientes
            </a>
        </div>

        <div class="col-md-3">
            <a href="/gestionventa/lista"
               class="btn btn-danger w-100">
                Ventas
            </a>
        </div>

    </div>

</div>